.form input{
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    color: white;
}

.form button {
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    margin: 1%;
}

.form button:hover,
.form button:active {
    background-color: rgb(224, 220, 220);
    color: black;
  }