.list {
    background-color: white;
    color: black;
    margin: 2% auto;
    padding: 1%;
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}   
.list button{
    border-radius: 100px;
}

/* .button {
    margin-left: 70%;
} */